<div class="steps-content">
    <p-card>
        <ng-template pTemplate="title">
            Preencha as informações abaixo.
        </ng-template>
        <ng-template pTemplate="subtitle">
            Em seguida clique no botão de continuar.
        </ng-template>
        <ng-template pTemplate="content">
            <div class="align-content-center">





                <div class="field align-content-center w-5 ">
                    <label class="font-bold text-center border-round" for="estudaGrupo">Número de Pulsos:</label>
                    <div class="flex text-center border-round " id="temperaturaG">                      
                    </div>
                    <!-- <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-clone text-green-700  ml-2 mt-2" style="font-size: 2rem"></i></span>
                       <p-inputNumber pRipple [(ngModel)]="pulsos" mode="decimal" locale="pt-BR" [minFractionDigits]="1">
                        </p-inputNumber>
                               
                    </div> -->
                    <div class="p-inputgroup">
                        
                       <p-inputNumber pRipple [(ngModel)]="pulsos" mode="decimal" locale="pt-BR"  [minFractionDigits]="1" [showButtons]="true">
                        </p-inputNumber>      
                    </div>
                </div>
                <div class="field align-content-center w-5 ">
                    <label class="font-bold text-center border-round" for="estudaGrupo">Tempo de Pulsos</label>
                    <div class="flex  text-center border-round " id="temperaturaG">
                        
                        <!--<p-inputNumber pRipple [(ngModel)]="tempoPulsos" mode="decimal" locale="pt-BR" [minFractionDigits]="2">
                        </p-inputNumber>
                        <i class="pi pi-chart-bar text-green-700  ml-2 mt-2" style="font-size: 2rem"></i> -->

                        <div class="p-inputgroup">
                           
                           <p-inputNumber pRipple [(ngModel)]="tempoPulsos" mode="decimal" locale="pt-BR" [minFractionDigits]="2" [showButtons]="true" pTooltip="Tempo de pulso em segundos.">
                            </p-inputNumber>
                        </div>
                    </div>
                </div>

            </div>




        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex">
                <div class="voltar flex-grow-1 flex align-items-center justify-content-center ">  
                    <button  pButton pRipple label="Voltar" icon="pi pi-angle-left"  class="p-button-raised p-button-secondary" (click)="btnVoltar()" iconPos="left"></button>
                </div>            
                <div class="flex-shrink-1 md:flex-shrink-0 flex"></div>
                <div class="flex-grow-1 flex align-items-start justify-content-center ">  
                    <button pButton pRipple label="Continuar" icon="pi pi-angle-right"
                        class="p-button-raised p-button-success" (click)="btnContinuar()" iconPos="right">                        
                    </button></div>
            </div>
        </ng-template>
        <p-toast position="top-right"></p-toast>
    </p-card>
</div>