<div class="steps-content">
    <p-card class="">
        <ng-template pTemplate="title">
            Preencha as informações abaixo.
        </ng-template>
        <ng-template pTemplate="subtitle">
            Em seguida clique no botão para continuar.
        </ng-template>
        <ng-template pTemplate="flex content ">
            <div class="flex-grow-1 formgroup-inline ">
                <div class="field   ">
                    <label class="font-bold text-center border-round" for=" volumeGrupo">Volume Injetado:</label>
                    <div class="flex text-center border-round ">
                        <p-inputNumber pRipple [(ngModel)]="volumeInjetado" mode="decimal" locale="pt-BR"
                        (ngModelChange)="onChangeCalculoVolInjetado(volumeInjetado)" [minFractionDigits]="3"[showButtons]="true"></p-inputNumber>
                        
                    </div>
                </div>
                <div class="field   ">
                    <label class="font-bold text-center border-round" for=" volumeGrupo">EC Injetado:</label>
                    <div class="flex text-center border-round ">
                        <p-inputNumber pRipple [(ngModel)]="ecInjetado" mode="decimal" locale="pt-BR" [minFractionDigits]="1"[showButtons]="true"></p-inputNumber>
                        
                    </div>
                </div>
                <div class="field   ">
                    <label class="font-bold text-center border-round" for=" volumeGrupo">PH Injetado:</label>
                    <div class="flex text-center border-round ">
                        <p-inputNumber pRipple [(ngModel)]="phInjetado" mode="decimal" locale="pt-BR" [minFractionDigits]="1"[showButtons]="true"></p-inputNumber>
                        
                    </div>
                </div>
            </div>

            <div class="formgroup-inline ">
                <div class="field">
                    <label class="font-bold text-center border-round" for=" volumeGrupo">Volume Drenado:</label>
                    <div class="flex text-center border-round ">
                        <p-inputNumber pRipple  class="btnVermelhoInput "[(ngModel)]="volumeDrenado" mode="decimal" locale="pt-BR"
                        (ngModelChange)="onChangeCalculoVolDrenado(volumeDrenado)" [minFractionDigits]="3"[showButtons]="true"></p-inputNumber>
                     
                    </div>
                </div>           
                <div class="field   ">
                    <label class="font-bold text-center border-round" for=" volumeGrupo">EC Drenado:</label>
                    <div class="flex text-center border-round ">
                        <p-inputNumber pRipple [(ngModel)]="ecDrenado"  mode="decimal" locale="pt-BR" [minFractionDigits]="1"[showButtons]="true"></p-inputNumber>
                     
                    </div>
                </div>
                <div class="field ">
                    <label class="font-bold text-center border-round" for=" volumeGrupo">PH Drenado:</label>
                    <div class="flex text-center border-round ">
                        <p-inputNumber pRipple [(ngModel)]="phDrenado" mode="decimal" locale="pt-BR" [minFractionDigits]="1" [showButtons]="true">
                        </p-inputNumber>
                     
                    </div>
                </div>

            </div>
          
            <div class="field  ">
                <label class="font-bold text-center border-round" for=" volumeGrupo">Percentual Drenado:</label>
                <div class="flex text-center border-round ">
                    <p-inputNumber pRipple class="text-green-700"  [(ngModel)]="percDrenado" prefix="%"[showButtons]="false" [disabled]="true"></p-inputNumber>
                 
                </div>
            </div>

        </ng-template>


        <ng-template pTemplate="footer">
            <div class="flex">
                <div class="voltar flex-grow-1 flex align-items-center justify-content-center ">
                    <button  pButton pRipple label="Voltar" icon="pi pi-angle-left"  class="p-button-raised p-button-secondary" (click)="btnVoltar()"  iconPos="left"></button>
                </div>
                <div class="flex-shrink-1 md:flex-shrink-0 flex"></div>
                <div class="flex-grow-1 flex align-items-start justify-content-center ">
                    <button pButton pRipple label="Enviar" icon="pi pi-angle-right"
                        class="p-button-raised p-button-success" (click)="btnContinuar()" iconPos="right">                        
                    </button>
                </div>
            </div>
        </ng-template>
        <p-toast position="top-right"></p-toast>
    </p-card>
</div>