<div class="steps-content">
    <p-card>
        <ng-template pTemplate="title">
            Preencha as informações abaixo.
        </ng-template>
        <ng-template pTemplate="subtitle">
            Em seguida clique no botão de continuar.
        </ng-template>
        <ng-template pTemplate="content" >
            <div class="align-content-center">
                <div class="field p-fluid align-content-center ">
                    <label class=" font-bold text-center  border-round  " for="dataHora">Data e Hora:</label>
                    <p-calendar pTooltip="Selecione a Data e Hora" class="border-round  text-center" [inline]="false"
                        [(ngModel)]="dataHora" [showTime]="true" inputId="dataHora" name="dataHora"iconPos="right"></p-calendar>
                </div>
                <div class="containerEstufa formgroup-inline">
                    <div class="field align-content-center w-20 ">
                        <div class="field align-content-center ">
                            <label class="font-bold text-center border-round" for="estufaGrupo">Estufas:</label>
                            <div class="text-center border-round form" id="estufaGrupo">
                                <div class="flex field-checkbox">
                                    <p-checkbox class="p-1" name="sp165" value="SP165" label="SP165"
                                        [(ngModel)]="valoresSelecionadosEstufa"></p-checkbox>
                                    <i class="pi pi-inbox text-gray-600 mt-2  " pTooltip="Estufa SP165"></i>
                                </div>
                                <div class="flex field-checkbox">
                                    <p-checkbox class="p-1" name="sp167" value="SP167" label="SP167"
                                        [(ngModel)]="valoresSelecionadosEstufa"></p-checkbox>
                                    <i class="pi pi-inbox text-gray-600 mt-2  " pTooltip="Estufa SP167"></i>
                                </div>
                                <div class="flex field-checkbox">
                                    <p-checkbox class="p-1" name="sp168" value="SP168" label="SP168"
                                        [(ngModel)]="valoresSelecionadosEstufa"></p-checkbox>
                                    <i class="pi pi-inbox text-gray-600 mt-2   " pTooltip="Estufa SP168"></i>
                                </div>

                                <div class="flex">
                                    <p-checkbox class="p-1" name="sp183" value="SP183" label="SP183"
                                        [(ngModel)]="valoresSelecionadosEstufa"></p-checkbox>
                                    <i class="pi pi-inbox text-gray-600 mt-2" pTooltip="Estufa SP183"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>



        <ng-template pTemplate="footer">
            <div class="flex">
                <div class="voltar flex-grow-1 flex align-items-center justify-content-center ">
                    <button pButton pRipple label="Voltar" icon="pi pi-angle-left"
                        class="p-button-raised p-button-secondary" routerLink="/inicio" iconPos="left"></button>
                </div>
                <div class="flex-shrink-1 md:flex-shrink-0 flex"></div>
                <div class="flex-grow-1 flex align-items-start justify-content-center ">
                    <button pButton pRipple label="Continuar" icon="pi pi-angle-right"
                        class="p-button-raised p-button-success" (click)="btnContinuar()" iconPos="right">                        
                    </button>
                </div>
            </div>
        </ng-template>

        <p-toast position="top-right"></p-toast>

    </p-card>
</div>