
button {  
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    .p-toast-message {
      width:80% !important;
       
    }
}


    .p-toast-message {
       
        width:90% !important;
    }
