button.p-element.p-column-filter-add-button.p-button-text.p-button-sm.ng-tns-c95-2.p-button.p-component {
    color: white !important;
}

span.p-button-label {
    color: white !important;
}

.headerRelatorio.button{
    color: white !important;
}