.login-screen{
    background-image: url('/assets/image/loginbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;


  
}

#cardLogin {            
    /* background-image: linear-gradient(0deg, rgba(30, 70, 0, 0.88), 
        rgba(0, 0, 0, 0.88)) , 
        url("../../assets/image/loginbg.jpg") center center / cover no-repeat; */
        background-image: url('/assets/image/loginbg.jpg');
    background-size: 100% ;  
    background-size: cover;      
}  


      :host ::ng-deep .p-password input {
        width: 15rem;
      }
   

      .imgYuppie{
        background-size: 30% ;  
        background-size: cover;      
      }

      img.imgYuppie {
        width: 30%;
    }

    

    :host ::ng-deep .card-container {
      .card {
          width: 75px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          user-select: none;
          padding: 0;
  
          &.primary-box {
              background-color: var(--primary-color);
              padding: 0;
              color: var(--primary-color-text);
          }
  
          &.styled-box-green {
              .p-ink {
                  background: rgba(#4baf50, 0.3);
              }
          }
  
          &.styled-box-orange {
              .p-ink {
                  background: rgba(#ffc106, 0.3);
              }
          }
  
          &.styled-box-purple {
              .p-ink {
                  background: rgba(#9c27b0, 0.3);
              }
          }
  
          &:last-child {
              margin-right: 0;
          }
      }
  }