.img-scale-down {
    /* width: 100%;
    height: 100%; */
   
    /* overflow: hidden; */
}



.mt-8.grid.grid-nogutter.surface-section.text-900.shadow-8.cardInicio {
    height: 35rem !important;

}
img.p-image-mask.w-min.h-screen {
    height: 35rem !important;
}